* text=auto eol=lf

*.php linguist-language=PHP
*.blade.php linguist-language=PHP
*.html linguist-language=HTML
*.css diff=php
*.md diff=markdown

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
